* {
	box-sizing: border-box;
}

body {
	background-color: #1abc9c;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
  height: 200px;
	width: 70px;
	background-color: #2c3e50;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0;
}

.circle {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	position: relative;
	height: 40px;
	width: 40px;
}

.circle::after {
	border-right: 4px solid rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	content: ' ';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 30px;
	height: 30px;
}

.circle.red {
	background-color: #c0392b;
	box-shadow: 0 0 20px 5px #c0392b;
}

.circle.yellow {
	background-color: #f1c40f;
	box-shadow: 0 0 20px 5px #f1c40f;
}

.circle.green {
	background-color: #2ecc71;
	box-shadow: 0 0 20px 5px #2ecc71;
}
