@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #8e44ad;
	color: #fff;
	font-family: 'Roboto Mono', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.counter {
	font-size: 60px;
	margin-top: 30px;
}
