@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.background {
	background-image: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	filter: blur(20px);
	z-index: -1;
}
